/* Bulma CSS Framework used */
body {
    margin: 0 auto;
    /*padding: 20px;*/
    font-size: 16px;
    color: #2A363B;
    min-height: 100%;
}

#root {
    min-height: 20rem;
}

.headbox {
    text-align: center;
    padding: 2rem;
}

.headbox h1 {
    font-weight: 100;
    font-size: 2.5rem;
    text-transform: uppercase;
}

#clock {
    background: transparent;
    text-align: center;
    font-size: 12.5rem;
    font-weight: 200;
    margin: 2rem;
    color: #0E7CF4;
}

.upcoming {
    background: red;
    color: white;
    min-height: 3em;
    padding: 1em;
    margin-bottom: -10px;
    bottom: 0;
}

.upcoming h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
}

.next {
    border-right: 2px solid #fff;
    font-size: 2.3em;
}

.next-event {
    font-weight: 900;
    font-size: 1.5em;
}

.next-anchor {}

.blink_me {
    animation: blinker 3s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.footer {
    margin: 0 auto;
    color: #455a64;
    font-weight: 100;
    clear: both;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: #263238;
    /*padding: 3rem 1.5rem 6rem;*/
}
